<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Container -->
<div class="container">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs__container">
      <a class="breadcrumbs" href="login">Login</a>
    </div>

  <form [formGroup]="profileForm" class="box">
    <h1>Registration</h1>
    <input type="email" name="" formControlName="email" placeholder="Email" #emailSignup>
    <input type="password" name="" formControlName="password" placeholder="Password" #passwordSignup>
    <button (click)="onSignup(emailSignup.value, passwordSignup.value)">Login</button>
  </form>


  <!-- Social -->
  <app-social></app-social>

</div>
