 /* Moon */

 .moon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#icon-dark {
  display: none;
}
#icon-light {
  cursor: pointer;
}

.container {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--backgroundColorCard);
  text-align: center;
  border-radius: 8px;
}

.breadcrumbs {
  text-decoration: none;
}

.box  h1{
  color: var(--text);
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "email"], .box input[type = "password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--borderInput) ;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: var(--text);
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "email"]:focus, .box input[type = "password"]:focus {
  width: 250px;
  border-color: var(--border);
}

.box button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--border);
  padding: 14px 40px;
  outline: none;
  color: var(--text);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box button:hover {
  background: var(--border);
}


/* Social */

.middle {
  position: relative;
}

.btn {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: var(--social);
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: var(--borderInput);
  overflow: hidden;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: var(--borderInput);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

svg {
  height: 100%;
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
  color: var(--borderInput);
  width: 60%;
  padding: 13px;
  margin-top: -13px;
}

svg:hover {
  transform: scale(1.3);
  color: var(--social);
}

.btn:hover::before {
  animation: social 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes social {
  0% {
    left: -110%;
    top: 90%;
  } 50% {
    left: 10%;
    top: -30%;
  } 100% {
    left: -10%;
    top: -10%;
  }
}


@media only screen and (max-width: 415px) {
  .container {
    width: 70%;
  }
  .box input[type = "email"]:focus, .box input[type = "password"]:focus {
    width: 225px;
  }
}
